@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Vazir;
  src: url("assets/fonts/Vazir.ttf") format("truetype");
}

@font-face {
  font-family: Codystar;
  src: url("assets/fonts/Codystar-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Shabnam;
  src: url("assets/fonts/Shabnam.ttf") format("truetype");
}

@font-face {
  font-family: shabnamBold;
  src: url("assets/fonts/Shabnam-Bold.ttf") format("truetype");
}

@font-face {
  font-family: skranji;
  src: url("assets/fonts/Skranji-Regular.ttf") format("truetype");
}

@font-face {
  font-family: skranjiBold;
  src: url("assets/fonts/Skranji-Bold.ttf") format("truetype");
}

body {
  font-family: shabnam;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
  list-style: none;
}

a.active {
  color: #8083FF;
  border-bottom: 2px solid #8083FF;
}

@layer components {
  /* HTML: <div class="loader"></div> */
  /* HTML: <div class="loader"></div> */
  /* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
  width: 150px;
  height: 20px;
  -webkit-mask: linear-gradient(90deg,#000 70%,#0000 0) left/20% 100%;
  background:
   linear-gradient(#8083FF 0 0) left -25% top 0 /20% 100% no-repeat
   black;
  animation: l7 1s infinite steps(6);
}
@keyframes l7 {
    100% {background-position: right -25% top 0}
}
  .back-to-back{
      position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 100px;
  background: orange;
  color: white;
  cursor: pointer;
  border-radius: 100px;
  border: none;
  box-shadow: 0 5px 10px #ccc;
  }
}
